<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="stylesheets/style.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="wrapper">

      <nav id="sidebar">
        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
          <div class="flex-container">
            <a href="#homeSubmenu" class="glyphicon glyphicon-th-list" data-toggle="collapse" aria-expanded="false"></a>


            <ul class="collapse" id="homeSubmenu">
              <ul class="active"><a href="/">Home</a></ul>
              <ul><a class="nav-link" href="/blog">Blog</a></ul>
              <ul><a class="nav-link" href="/audio">Audio</a></ul>
              <ul><a class="nav-link" href="/video">Video</a></ul>
            </ul>
          </div>
        </ul>
      </nav>

    </div>
    {{{body}}}
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <!-- Bootstrap Js CDN -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script type="text/javascript">
      $(document).ready(function () {
          $('#sidebarCollapse').on('click',() => {
              $('#sidebar').toggleClass('active');
              $(this).toggleClass('active');
          });
      });
  </script>

</html>
