<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/5dae000458.js"></script>
  </head>
  <body>
    <div class="wrapper">

      <nav id="sidebar">
        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
          <h1 id='title'>{{title}}</h1>
          <div class="flex-container">
            <a href="#homeSubmenu" class="glyphicon glyphicon-th-list" data-toggle="collapse" aria-expanded="false"></a>
            <ul class="collapse" id="homeSubmenu">
              <ul class="active"><a href="/">Home</a></ul>
              <ul><a class="nav-link" href="/blog">Blog</a></ul>
              <ul><a class="nav-link" href="/audio">Audio</a></ul>
              <ul><a class="nav-link" href="/video">Video</a></ul>
              <ul><a class="nav-link" href="/practice">Practice</a></ul>
            </ul>
          </div>
        </ul>
      </nav>

    </div>
    <div class="main-body">
      {{{body}}}

    </div>
    <footer>
      <p id='copyright'>© 2017 Paul Walsh. All rights reserved.<p>
      <div class='fa fa-container'>
        <a href="https://github.com/walpolsh" class="fa fa-github">GitHub</a>
        <a href="https://www.linkedin.com/in/pauljosephwalsh/" class="fa fa-linkedin-square">LinkedIn</a>
        <a href="https://www.facebook.com/paulwalshmusic" class="fa fa-facebook">Facebook</a>
        <a href="https://avanttemporal.bandcamp.com" class="fa fa-bandcamp">Bandcamp</a>
        <a href="https://www.youtube.com/channel/UCSCgCC24REe-_Iy05MR_mKQ" class="fa fa-youtube">Youtube</a>
      </div>
    </footer>
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <!-- Bootstrap Js CDN -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script type="text/javascript">
      $(document).ready(function () {
          $('#sidebarCollapse').on('click',() => {
              $('#sidebar').toggleClass('active');
              $(this).toggleClass('active');
          });
      });
  </script>

</html>
