<script src='../javascripts/practice.js' type="text/javascript"></script>
<link rel="stylesheet" href="../stylesheets/practice.css">
<img src='../images/pic.png'></img>
<div style="white-space: pre;">
  <button type='button' onclick="postEightNoteSequence()">Generate Eight Note Squence!</button>
  <div id='8notesequence'></div>
  <button type='button' onclick="postIntervals()">Generate intervals!</button>
  <div id='intervals'></div>
  <button type='button' onclick="postTriplets()">Generate Triplet!</button>
  <div id='triplets'></div>
  <button type='button' onclick="postSixteenths()">Generate Sixteenths!</button>
  <div id='sixteenths'></div>
  <button type='button' onclick="post10Triplets(10)">Generate 10 Triplets!</button>
  <div id='10triplets'></div>
  <button type='button' onclick="post10Sixteenths(10)">Generate 10 Sixteeths!</button>
  <div id='10sixteenths'></div>
  <button type='button' onclick="postJustIntervals(10)">Just Intervals!</button>
  <div id='justIntervals'></div>


</div>
